.news-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: rgb(206, 229, 143);
    background: linear-gradient(104deg, rgb(223, 241, 143)10%, rgb(146, 247, 238)60%);
  
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .news-title {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  .news-list {
    list-style: none;
    padding: 0;
  }
  .news-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .news-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .news-caption {
    font-size: 18px;
    color: #555;
  }